@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

html {
    position:relative;
}

body {
    margin-top:30px;
    font-family :'Quicksand';
}

.jumbotron {
    background-image: url('../img/jumb2.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position:0;
    color:#eaeaea; 
}

.jumbotron h1, .jumbotron p {
    text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

.jumbotron h1 {
    font-size : 55px;
}

.jumbotron p {
    font-size: 20px;
}

.jumbotron img {
    width : 190px;
    position: relative;
    border: 4px solid white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

hr {
    width:200px;
    border-top:3px solid #666;
}

section {
    min-height:490px;
    text-align: justify;
}

.leftparagraph {
    opacity:0;
    transform: translate(-100px,0) rotate(27deg);
    transition: 1.5s;
}

.rightparagraph {
    opacity:0;
    transform: translate(100px,0) rotate(-27deg);
    transition: 1.5s;
}

.leftparagraph.pShow, .rightparagraph.pShow{
    opacity: 1;
    transform: translate(0,0);
}

.portfolio {
    background-color : #eee;
}

.portfolio .thumbnail {
    opacity:0;
    transform: translate(0, -50px);
    transition: .5s;
}

.portfolio .thumbnail.show{
    opacity: 1;
    transform: translate(0,0);
}

.contact {
    min-height:700px;
}

footer {
    position: absolute ;
    width: 100%;
    height: 70px;
    background-color: #333;
}

footer p {
    color : #aaa;
    font-size : 1.3em;
    font-weight : bold;
    line-height: 55px;
}
